.form {
  width: 100%;
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: .75rem;
}

.input-wrapper :is(textarea, input, select){
  padding: .5rem .75rem;
  outline: none;
  border: 0;
  border-bottom: 1px solid #535956;
  border-radius: 10px 0px 20px;
  font-family: var(--font-roboto);
  
}

.input-wrapper submit-button {
  padding: .5rem 1rem;
  color: var(--text-light);
  border: none;
  /* background-color: #7B7B7A; */
  border-radius: 5px 5px 0 0;
}

input:focus, textarea:focus {
  border: 2px solid #BE7349;
}
input:hover, textarea:focus  {
  /* border: 2px solid #f44336; */
  background-color: #b8ac9b68;
}

input, textarea, select {
  padding: 6px 10px;
  /* border: 2px solid dodgerblue; */
  outline: none;
  color: #7B7B7A;
  background-color: #FBFAFA;
  border-radius: 4px;
  accent-color: #f44336;
}

input::placeholder {
  color: #BDA482;
}

.submit-button {
  align-items: center;
  margin-top: 10%;
}
button[type="submit"] {
  background-color:#BDA482;
  width: 100px;
  border: 2px solid transparent;
  padding: 4px 12px;
  color:#FBFAFA;
  border-radius: 4px;
  cursor: pointer;
  transition: .24s;
}

button[type="submit"]:hover {
  background-color: #304038;
  color:#FBFAFA;

}
